* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 375px;
    /* min-height: 900px; */
    padding: 25px;
    margin: auto;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: white;
    text-transform: uppercase;
    background: radial-gradient(ellipse at top,hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    background-repeat: no-repeat;
    font-size: 16px;
}

/* HEADER */
.game-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: solid 3px hsl(217, 16%, 45%);
    border-radius: 6px;
    margin-bottom: 100px;
}

.logo {
    max-width: 85px;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 6px;
    color: hsl(229, 64%, 46%);
    width: 80px;
    height: 75px;
}

.score-title {
    font-size: 0.65rem;
    letter-spacing: 1.5px;
}

.score-count {
    color: hsl(229, 25%, 31%);
    font-size: 2.5rem;
    font-weight: 700;
}


/* GAME CONTROLS */
.game-controls {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 290px;
    background: url(images/bg-triangle.svg);
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: 50% 100%;
    margin-bottom: 120px;
}

.ctrl-row1, .ctrl-row2 {
    display: flex;
}

.ctrl-row1 {
    justify-content: space-between;
}

.ctrl-row2 {
    justify-content: center;
}

.ctrl-button {
    background-color: white;
    border-radius: 50%;
    height: 135px;
    width: 135px;
    object-fit: scale-down;
}

.paper {
    border: solid 16px hsl(230, 89%, 62%);
}

.scissors {
    border: solid 16px  hsl(39, 89%, 49%);
}

.rock {
    border: solid 16px hsl(349, 71%, 52%);
}


/* RULES */
.game-rules {
    display: flex;
    justify-content: center;
    max-width: 160px;
    padding: 10px;
    letter-spacing: 3px;
    font-weight: 600;
    margin: auto auto 40px;
    border: solid 2px hsl(217, 16%, 45%);
    border-radius: 6px;
}